<app-navbar></app-navbar>

<main>
  <section id="home" data-aos="zoom-in"><app-home></app-home></section>
  <section id="about" data-aos="fade-left"><app-about></app-about></section>
  <section id="skills" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"><app-skills></app-skills></section>
  <section id="experience" data-aos="fade-right"><app-experience></app-experience></section>
  <section id="education" data-aos="fade-up"><app-education></app-education></section>
  <section id="projects" data-aos="zoom-in"><app-projects></app-projects></section>
  <section id="contact" data-aos="fade-up"><app-contact></app-contact></section>
</main>


<button
  class="back-to-top btn btn-success float-end"
  [class.show]="showBackToTop"
  (click)="scrollToTop()"
  aria-label="Retour en haut">
  <i class="bi bi-arrow-up"></i>
</button>

<app-footer></app-footer>

